html { height: 100%; }

body{
    font-family: FreeMono, monospace;
    width: 90%;
    height: 900px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #522065; 
    border: 3px solid white;
    border-radius: 15px;
}

.topnav{
    border-bottom: 3px solid white; 
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.topnav li{
    display:inline;
}
.topnav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display:inline-block;
    padding: 14px 16px;
}

.container{
  height: 850px;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.A{
    padding: 20px 0px;
    margin: auto;
    width: 80%;
    border-collapse:separate;
    border-spacing: 0;
    color: white;
    font-size: 15px;
}

.B{
  padding: 20px 0px;
  margin: auto;
  border: none;
}

tr th, tr td {
    border-right:solid white 3px;
    border-bottom:solid white 3px;
    padding: 5px;
}
tr th:first-child,
tr td:first-child {
    border-left: 3px solid white;
  }
tr th {
    border-top: 3px solid white;
    text-align: left;
  }
tr:first-child th:first-child {
    border-top-left-radius: 15px;
  }
tr:first-child th:last-child {
    border-top-right-radius: 15px;
  }
tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }
tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }

.sidenav{
    height: 820px;
    border-right: 3px solid white;
    padding: 14px 10px;
    list-style-type: none;
    
}


li{
  height: 50px;
  width: 180px;
  color: white;
}

.button{
  color: white;
  height: 50px;
  width: 180px;
  border: none;  
  border-radius: 6px;
  font-family: FreeMono, monospace;
  background-color: #522065;    
  transition-duration: 0.1s;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover{
  background-color: #8f6e9b;  
}

input{
  border: 0;
  border-radius: 12px;
  padding: 14px 20px;
}


input[type="text"], textarea {
  display: block;
  margin : auto; 
  height: 6px;          
  background-color : #8f6e9b; 
  width: 150px;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.8;
}

input:focus
{
    border: 2px solid white;
    box-shadow: none;
    outline: none;
}